@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #cc1c1a;
    --secondary: #fff;
    --Tertiary: black;
    --Quaternary: plum;
    --Senary: crimson;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #262626;
}


.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, var(--primary), var(--Tertiary));
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
    background: #fff;
    color: #4158d0;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;

}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #4158d0;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

.top {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

.top .main {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .main nav {
    padding: 1rem;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top .main nav .logo {
    color: var(--primary);
    font-weight: 100;
    font-size: 1rem;
}

.top .main nav .logo span {
    color: var(--secondary);
    text-transform: uppercase;

}

.top .main nav .list {
    width: 30%;
    color: var(--secondary);
}

.top .main nav .list ul {
    display: flex;
    justify-content: space-between;
}

.top .main nav .list ul li {
    list-style: none;
}

button {
    padding: 15px 40px 15px 40px;
    background: #2fb0db;
    color: white;
    -webkit-transition: .5s cubic-bezier(.86, 0, .07, 1);
    -o-transition: .5s cubic-bezier(.86, 0, .07, 1);
    transition: .5s cubic-bezier(.86, 0, .07, 1);
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    /* border: 1px solid var(--primary); */
}

.top .main .reso {
    width: 92%;
    padding: 1rem;
    height: 80%;
    display: flex;
    box-shadow:
        rgba(22, 31, 39, 0.9) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.8) 0px 35px 75px -35px;

}

.top .main .reso .text {
    color: var(--secondary);
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.top .main .reso.text h1 {
    font-size: 32px;
    color: var(--primary);
    letter-spacing: 1px;
    transform:
        perspective(75em) rotateX(18deg);
}

.top .main .reso .text h1 span {
    font-size: 56px;
    color: var(--primary);

}

.top .main .reso .image {
    /* /* width: 500px; */
    height: 500px;
    padding: 1rem;
    /* object-fit: contain; */
    z-index: -100;

}

.top .main .reso .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: perspective(1500px) rotateY(15deg);

    transition: 1s ease 0s;

}

.top .main .reso .image img:hover {

    transform: perspective(3000px) rotateY(5deg);

}